c#/kr/Core1/WcfClientGuiWinForms/Service References/ServiceReferenceConsole/SchrService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fix">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FixResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="step" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>